# Improve CampusX

## Instructions

1. You have to submit your solutions before **6:00pm tomorrow**
2. The problems that I have given(**except the 1st one**) are problems with which we are also dealing with. So, in a way we are asking for your help through this hackathon.
3. To be honest solving even a single question is a big deal in the given time duration. So, please don't get **frustrated** if you are not able to solve even one problem. 
4. A request - **don't quit**. Infact **never quit**.
5. Marking Scheme for this hackathon is as follows
**Total Marks=200**
but, while adding this to your dashboard, your total marks will be divided by a **factor of 10**.
So, let's say you scored 90 in the hackathon, you dashboard score would be 9
6. Top 3 performers will get a **prize**, when we will meet next.Promise:)

In [0]:
import pandas as pd

In [0]:
evaluation=pd.read_csv('evaluation.csv')
course=pd.read_csv('course.csv')
module=pd.read_csv("module.csv")
content=pd.read_csv('content.csv')
gyan=pd.read_csv("gyan.csv")
myday=pd.read_csv("myday.csv")
link_preview_details=pd.read_csv("link_preview_details.csv")
tasks=pd.read_csv('tasks.csv',encoding='latin-1', error_bad_lines=False)
url_task=pd.read_csv("url_task.csv")
batch=pd.read_csv("batch.csv")
batch_task=pd.read_csv("batch_task.csv")
users=pd.read_csv("users.csv")

b'Skipping line 16: expected 7 fields, saw 10\n'

**Problem 1** : Write a python function which will receive 3 input i.e. batch name, start date and end date and returns the leaderboard(in that date window) of that particular batch with the following pieces of info - Name, Marks(till now)

Note: If no date range is provided, show the leaderboard for the entire duration of the course

**Marks -10**

In [0]:
# Write your code here

In [0]:
def leaderboard(batch_name,start_date,end_date):
    if not start_date:
        start_date = evaluation.head(1)['evaluation_date'].to_list()[0]
    if not end_date:
        end_date = evaluation.tail(1)['evaluation_date'].to_list()[0]
    batch_id=batch[batch['batch_name']==batch_name]['batch_id']
    task_id=batch_task[batch_task['batch_id'].isin(batch_id)]['task_id']
    user_id=users[users['batch_id'].isin(batch_id)]['user_id']
    names=users[users['batch_id'].isin(batch_id)][['fname','user_id']]
    myday_score = myday[myday['user_id'].isin(user_id)][['user_id','entry']].groupby('user_id').count()
    gyan_score = gyan[gyan['user_id'].isin(user_id)][['user_id','link']].groupby('user_id').count()
    score = evaluation[(evaluation['user_id'].isin(user_id))&(evaluation['task_id'].isin(task_id))&(evaluation['evaluation_date']>=start_date)&(evaluation['evaluation_date']<=end_date)]
    score = score[['user_id','score']].groupby('user_id').sum()
    total = myday_score.merge(gyan_score,on='user_id')
    total = total.merge(score,on='user_id')
    total['total']=total['entry']+total['link']+total['score']
    total.drop(columns=['entry','link','score'],inplace=True)
    final = names.merge(total,on='user_id')
    final.drop(columns='user_id',inplace=True)
    final.sort_values('total',ascending=False,inplace=True)
    final.reset_index(inplace=True)
    final.drop(columns='index',inplace=True)
    final.rename(columns={'fname':'Name','total':'Score'},inplace=True)
    return final

In [0]:
name = input('Enter a batch name : ')
sdate = input(f'Start Date (yyyy-mm-dd) : ')
edate = input(f'End Date (yyyy-mm-dd) : ')
leaderboard(batch_name=name,start_date=sdate,end_date=edate)

Enter a batch name : Machine Learning Kolkata 1
Start Date (yyyy-mm-dd) :
End Date (yyyy-mm-dd) :

         Name  Score
0       Dipam  154.0
1      Shakib  154.0
2       Kunal  148.5
3    Ujjainee  144.0
4     Purbita  140.0
5      Vishal  133.5
6     Surabhi  129.0
7   Chandrima  127.0
8      Bhavna  118.0
9     Sushree   73.0
10    Sharika   55.0
11      Durga   44.5
12    Roumyak   40.0
13    Kaushal   22.0

**Problem 2**: Write a python function that receives 1 input, batch_name and returns the list of top 10 students who require maximum attention from the teacher.

**Note**: I know this is kind of abstract, but truly we are facing this problem. Try to come up with a solution/algorithm. 

**Tip** : Don't just think in terms of marks, also think about things like late submissions, number of submissions, myday etc

**Tricky scenario**: Aisa bhi ho sakta hai koi student bas shuru me acha perform nai kar raha tha, but ab kar raha hai. So consider dates also.

**Marks : 50**

In [0]:
# Write your code here

**Problem 3**: Write a python function that will take batch name and a date range as input and outputs the most consistent student in that given daterange and batch

**Note**: Come up with your definition of consistency

**Marks - 20**

In [0]:
# Write your code here

In [0]:
def consis(batch_name,start_date,end_date):
    if not start_date:
        start_date = evaluation.head(1)['evaluation_date'].to_list()[0]
    if not end_date:
        end_date = evaluation.tail(1)['evaluation_date'].to_list()[0]
    batch_id=batch[batch['batch_name']==batch_name]['batch_id']
    task_id=batch_task[batch_task['batch_id'].isin(batch_id)]['task_id']
    user_id=users[users['batch_id'].isin(batch_id)]['user_id']
    name=users[users['batch_id'].isin(batch_id)][['fname','user_id']]
    m=myday[myday['user_id'].isin(user_id)][['user_id','entry']]
    m1=m.groupby('user_id')
    myday_count=m1.count()
    myday_count
    g=gyan[gyan['user_id'].isin(user_id)][['user_id','link']]
    g1=g.groupby('user_id')
    gyan_count=g1.count()
    gyan_count
    df=gyan_count.merge(myday_count,on='user_id')
    df.rename(columns = {'link':'gyan_count','entry':'myday_count'}, inplace = True)
    
    mask=evaluation[(evaluation['task_id'].isin(task_id)) & (evaluation['user_id'].isin(user_id))&(evaluation['evaluation_date']>=start_date)&(evaluation['evaluation_date']<=end_date)]
    m=mask.groupby('user_id')
    task_count=m.count()
    task_count.rename(columns = {'task_id':'task_done'}, inplace = True)
    task_count.drop(columns=['e_id','evaluation_date','late','score','winner'],inplace=True)
    
    mask1=evaluation[(evaluation['task_id'].isin(task_id)) & (evaluation['user_id'].isin(user_id))&(evaluation['evaluation_date']>=start_date)&(evaluation['evaluation_date']<=end_date)]
    late_sub=mask1[mask1['late']==1]
    on_time=mask1[mask1['late']==0]
    LS=late_sub.groupby('user_id').count()
    OT=on_time.groupby('user_id').count()
    LS.rename(columns={'late':'Late_sub'},inplace=True)
    OT.rename(columns={'late':'on_time'},inplace=True)
    OT.drop(columns=['e_id','task_id','evaluation_date','score','winner'],inplace=True)
    LS.drop(columns=['e_id','task_id','evaluation_date','score','winner'],inplace=True)
    data=pd.DataFrame(columns=['consis_gyan_score','consis_myday_score','consis_score','LS_score','OT_score','Total'])
    data['consis_score']=5*task_count['task_done']
    data['consis_myday_score']=1*df['myday_count']
    data['consis_gyan_score']=1*df['gyan_count']
    data['OT_score']=1*OT['on_time']
    data['LS_score']=(-4)*LS['Late_sub']
    data.fillna(0,inplace=True)
    data['Total']=data['consis_gyan_score']+data['consis_myday_score']+data['consis_score']+data['LS_score']+data['OT_score']
    data.drop(columns=['consis_gyan_score','consis_myday_score','consis_score','LS_score','OT_score'],inplace=True)
    result=data.merge(name,on='user_id')
    F_result=result.sort_values('Total',ascending=False)
    FF=F_result.reset_index()
    FF.drop(columns=['index','user_id'],inplace=True)
    return FF.head(1)

In [0]:
name = input('Enter a batch name : ')
sdate = input(f'Start Date (yyyy-mm-dd) : ')
edate = input(f'End Date (yyyy-mm-dd) : ')
consis(batch_name=name,start_date=sdate,end_date=edate)

Enter a batch name : Machine Learning Kolkata 1
Start Date (yyyy-mm-dd) :
End Date (yyyy-mm-dd) :

   Total  fname
0   89.0  Dipam

**Problem 4**: Find the best student across batches

**Marks - 20**

In [0]:
# Write your code here

In [0]:
def leaderboard(batch_name,start_date,end_date):
    if not start_date:
        start_date = evaluation.head(1)['evaluation_date'].to_list()[0]
    if not end_date:
        end_date = evaluation.tail(1)['evaluation_date'].to_list()[0]
    batch_id=batch[batch['batch_name']==batch_name]['batch_id']
    task_id=batch_task[batch_task['batch_id'].isin(batch_id)]['task_id']
    user_id=users[users['batch_id'].isin(batch_id)]['user_id']
    names=users[users['batch_id'].isin(batch_id)][['fname','user_id']]
    myday_score = myday[myday['user_id'].isin(user_id)][['user_id','entry']].groupby('user_id').count()
    gyan_score = gyan[gyan['user_id'].isin(user_id)][['user_id','link']].groupby('user_id').count()
    score = evaluation[(evaluation['user_id'].isin(user_id))&(evaluation['task_id'].isin(task_id))&(evaluation['evaluation_date']>=start_date)&(evaluation['evaluation_date']<=end_date)]
    score = score[['user_id','score']].groupby('user_id').sum()
    total = myday_score.merge(gyan_score,on='user_id')
    total = total.merge(score,on='user_id')
    total['total']=total['entry']+total['link']+total['score']
    total.drop(columns=['entry','link','score'],inplace=True)
    final = names.merge(total,on='user_id')
    final.drop(columns='user_id',inplace=True)
    final.sort_values('total',ascending=False,inplace=True)
    final.reset_index(inplace=True)
    final.drop(columns='index',inplace=True)
    final.rename(columns={'fname':'Name','total':'Score'},inplace=True)
    return final

In [0]:
def best():
    final=pd.DataFrame()
    for i in batch['batch_name']:
        sd = evaluation.head(1)['evaluation_date'].to_list()[0]
        ed = evaluation.tail(1)['evaluation_date'].to_list()[0]
        final = final.append(leaderboard(i,sd,ed))
    final.sort_values('Score',ascending=False,inplace=True)
    print(final.head(1))

In [0]:
best()

     Name  Score
0  Ritwik  196.5

**Problem 5** : Write a function/piece of analysis that can compare the performance of 2 batches on the whole

**Note**: Again Abstract

**Note 2**: Will be judging you a lot on the basis of this.

**Note 3**: You can get an instant internship under us, if can apply the right thought process to this problem

**Marks - 50**

In [0]:
# Write your code here

**Problem 6** : Surprise us

**Description**: Find something(point/points of analysis) that might surprise us

**Marks - 50**